body {
    background-color: black;
}

.button-custom {
    background-color: #d55454;
    border-color: #212121;
    color: #fff4f4;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 20px;
    overflow: hidden;
    padding: 8px 18px;
    position: relative;
    text-transform: uppercase;
}

.button-custom:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all .4s ease-in-out;
}